body{
    background-image: url(../images/dust_scratches.png)
}
button{
    width:100%;
    margin:5px;
}
#player1Area{
    border:1px solid #4B9DB8;
}
#player2Area{
    border:1px solid #48B87E;
}
#chatInput{
    margin:5px;
}
#chatDisplay{
    margin-top:10px;
    margin-bottom: 20px;
    overflow:auto;
    height: 200px;
	width: 100%;
	text-align: left;
  	border-radius: 10px;
  	background-color: #e9eeb0;
	color: #320cdd;
}
.messageClass{
    margin:3px;
    font-size:1.6em;
}